/* Body has a margin, it's annoying. Fuck it. */
body {
  margin: 0;
  background: black;
  /*background-image: url("memes.jpg");*/
  /*background-size:100%;*/
  overflow:hidden
}

/* Actual main height, take up the full height. */
main {
  height: 100vh;
  width: 100vw;

}

/* Slider container, set to absolute so it positions to the initial spot without taking any actual space on the document, it's complicated. */
aside {
  /* Flexbox is the god of the new world. It makes items within flex to the container. */
  display: flex;
  /* Positions it relative to it's parent's top left pixel I believe. */
  position: absolute;
  /* This sets the edges to the edges of it's parent. Or something. Depends on the position. */
  left: 0;
  right: 0;
}

/* This is how you'd select the sliders if you need it I guess. */
input[type="range"] {
  /* Setting flex grow causes these to expand as big as they can get. */
  flex-grow: 1;
  min-width: 30px;
  background: transparent;
}

input[type=checkbox] + label {
  margin-left:0.5em;
  color: #ccc;
  font-family:monospace;
  /*font-style: normal;*/
}
input[type=checkbox]:checked + label {
  color: #f80;
  font-family:monospace;
  /*font-weight: 900;*/
}
input[type=checkbox] {
  display: none;
}
#bg + label::before {
  color: white;
  content:"Black";
}
#bg:checked + label::before {
  color: black;
  content:"White";
}

#canvas {
  width: 100%;
  height: 100%;
  background: 100%;
}

a {
  position: absolute;
  right: 0;
  bottom: 0;
  font-family:monospace;
  color:white;
  text-decoration:none
}

/*select {
  background: transparent;
  color: white;
}

option {
  color: white;
}*/
